DataFrame

In [ ]:
import pandas as pd

# creating df type 1:

info = {
    "Name": ["Ayush", "Arun", "Sunny"],
    "Age": [20, 21, 20]
}

df = pd.DataFrame(info)

print(df, type(df))

print(df.index)
print(df.columns)

    Name  Age
0  Ayush   20
1   Arun   21
2  Sunny   20 <class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age'], dtype='object')

In [4]:
# creating dataframe type 2:

df = pd.DataFrame([["Ayush", 20], ["Arun", 21], ["Sunny", 20]], columns=["Name", "Age"])

print(df, type(df))

print(df.index)
print(df.columns)

    Name  Age
0  Ayush   20
1   Arun   21
2  Sunny   20 <class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age'], dtype='object')

In [5]:
# creating dataframe type 3:

import numpy as np

np_arr = np.array([[1,2,3], [4,5,6]])

df = pd.DataFrame(np_arr, columns=["A", "B", "C"])

print(df)

   A  B  C
0  1  2  3
1  4  5  6

Fetching/Reading Data

In [8]:
# reading csv data

data = pd.read_csv("employee_data.csv")
print(data, type(data))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [9]:
# reading json data

data = pd.read_json("employee_data.json")
print(data, type(data))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [ ]:
# for excel -> read_excel()
# for sql -> read_sql()

Pandas DataFrame Methods
- df.head() -> starting 5 rows, we can also n rows by sending n as parameter
- df.tail() -> last 5 rows
- df.sample() -> any 1 random row
- df.info() -> give summary of data
- df.shape -> return tuple of shape of data
- df.describe() -> give numerical result of data like mean median etc
- df.columns -> give all cols name
- df.nunique() -> give no. of unique rows