Pandas
Melt & Pivot
- Melt - Wide to Long format
- melt( id_vars, value_vars, var_name, value_name )
- id_vars -> columns we want to keep 
- value_vars -> we want to convert them in single col
- var_name -> name of new col which store names of vars
- value_name -> name of new col which store values

In [1]:
import pandas as pd
df = pd.DataFrame({
    "country": ["USA", "USA", "India", "India"],
    "year": [2020, 2021, 2020, 2021],
    "sales": [100, 120, 90, 110],
    "profit": [20, 25, 18, 22]
})

df

  country  year  sales  profit
0     USA  2020    100      20
1     USA  2021    120      25
2   India  2020     90      18
3   India  2021    110      22

In [3]:
melted_df = df.melt(
    id_vars=["country", "year"],
    value_vars=["sales", "profit"],
    var_name="metrics",
    value_name="value"
)


- Pivot - Long to Wide format
- pivot( index, columns, values )
- index -> values assigned to each row
- columns -> var_name in melted
- values -> value_name in melted

In [4]:
original = melted_df.pivot(
    index=["country", "year"],
    columns="metrics",
    values="value"    
)

In [6]:
melted_df

  country  year metrics  value
0     USA  2020   sales    100
1     USA  2021   sales    120
2   India  2020   sales     90
3   India  2021   sales    110
4     USA  2020  profit     20
5     USA  2021  profit     25
6   India  2020  profit     18
7   India  2021  profit     22

In [7]:
original

metrics       profit  sales
country year
India   2020      18     90
        2021      22    110
USA     2020      20    100
        2021      25    120