Pandas
- Data analysis and Manipulation tool.

In [1]:
import pandas as pd

Series:
- 1D labelled array

DataFrame:
- 2D labelled array

In [3]:
info = {
    "Name": ["Rahul", "Ayush", "Arun"],
    "CGPA": [9.5, 9.3, 7.6]
}

df = pd.DataFrame(info)
df

    Name  CGPA
0  Rahul   9.5
1  Ayush   9.3
2   Arun   7.6